@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.active-link {
  border-bottom: 1px solid #ffffff;
}

.custom-shadow {
  box-shadow: 0 0 6px 0px gray;
}
.darkmode {
  background-color: #000000;
  color: white;
  width: 100%;
}
